<!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1 class="build">Contact Us</h1>
        </div>
    </section>

    <!-- ===================== CONTACT PAGE ===================== -->
    <section class="contact-page">

        <!-- LEFT: FORM -->
        <div class="contact-left">
            <span class="contact-tag">Contact Us</span>
            <h2>Do You Have Any Questions?</h2>

            <app-contact-form></app-contact-form>

        </div>

        <!-- RIGHT: CONTACT INFORMATION -->
        <div class="contact-right">
            <h3>Are You Going to Implement a Project?</h3>

            <div class="contact-details">
                <div>
                    <h4>Address</h4>
                    <p>2047 Cyrus Viaduct, East Jadynchester</p>
                </div>

                <div>
                    <h4>Email</h4>
                    <p>info@construct.com</p>
                    <p>support@construct.com</p>
                </div>

                <div>
                    <h4>Phone</h4>
                    <p>1 - 313 - 645 - 3395</p>
                    <p>1 - 469 - 970 - 2609</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ===================== GOOGLE MAP SECTION ===================== -->

    <section class="map-container" id="mapBox">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xqkQFFKFHKvEFQ-euSgaE_1gl588rJ4&amp;ehbc=2E312F&amp;noprof=1"
            width="640" height="480"></iframe>
    </section>
