<footer class="footer">
  <div class="footer-container">
    <div class="footer-column"><a routerLink="/" class="logo"><img src="/images/Circular logo.png" alt="Company Logo" class="footer-logo"></a></div>
    <nav class="footer-column" aria-label="Footer services">
      <h2>Our Services</h2>
      <a routerLink="/services/drawing-design-documentation"><h3>Drawing, Design &amp; Documentation</h3></a>
      <a routerLink="/services/construction-services"><h3>Construction Services</h3></a>
      <a routerLink="/services/turnkey-solutions"><h3>Turnkey Solutions</h3></a>
      <a routerLink="/services/renovation-remodeling"><h3>Renovation &amp; Remodeling</h3></a>
      <a routerLink="/services/interior-design"><h3>Interior Design</h3></a>
    </nav>
    <div class="footer-column">
      <h1>Location &#38; Contact</h1>
      <p>Ezeuzu Junction By Udoka Second Gate Obunagu, Awka-South, Awka Anambra, Nigeria</p>
      <p>Phone: +234 123 456 789</p>
      <p>Phone: +234 123 456 789</p>
      <p>Email: info@yourcompany.com</p>
    </div>
  </div>
  <div class="footer-bottom"><p>&copy; 2025 - <span id="year">{{ year }}</span> Trinco Synergy. All Rights Reserved.</p></div>
</footer>
